{% extends 'base.html.twig' %}

{% block content %}
    <h4 class="section-heading mt-5"><strong>Modifica password</strong></h4>
    <hr>
    <a href="{{ path('account') }}">Indietro</a>
    <hr>
        {% if notification %}
            <div class="alert-info">
                {{ notification }}
            </div>
        {% endif %}
        {{ form(form) }}
    <hr>
{% endblock %}