{% extends 'base.html.twig' %}

{% block content %}

        <div>
                <h3 class="section-heading mt-5"><strong>Registrazione</strong></h3>
                {{ form(form) }}
        </div>

{% endblock %}