{% extends 'base.html.twig' %}

{% block content %}
<div class="site-section">
    <div class="container">
        <h3 class="section-heading"><strong>Registrazione</strong></h3>
        {{ form(form) }}
    </div>
</div>
{% endblock %}